.toast {
  position: relative;
  float: right;
  z-index: 3;
  margin-top: -30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ql-container {
  min-height: 480px;
}

.jc-center {
  justify-content: center;
}

@media (min-width: 1000px) {
  #price-remove {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

@media (max-width: 999px) {
  #price-remove {
    width: 100%;
  }
}

.w-100 {
  width: 100%;
}

.text-left {
  text-align: left;
}

.form-sheet {
  margin-left: auto;
  max-width: 940px;
}

.form-sheet .form-input {
  height: 44px;
}

.btn-div {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.btn-sheet {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2rem;
}

.cart-end {
  width: "100%";
  justify-content: flex-end;
  max-width: 940px;
  flex-wrap: nowrap;
}

.estimate_input {
  width: 100%;
  margin-left: 45%;
}

.estimate_input::-webkit-inner-spin-button,
.estimate_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#sheet-textarea {
  height: 100%;
  word-break: break-all;
}

#div-textarea {
  min-height: 300px;
  word-break: break-all;
  height: auto;
}
