html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Heebo', sans-serif;
  margin-bottom: 400px;
}

hr {
  margin: 10px;
  max-width: 80vw;
}

.bg-black {
  background-color: black;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

#navbar-main {
  width: 100%;
  align-items: center;
  max-width: 77vw;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
}

#navbar-main a {
  transition: 0.3s;
  color: white;
}

#navbar-main a:hover {
  color: white;
  text-decoration: none;
}

#navbarSupportedContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.nav-item {
  font-size: 1vw;
  font-weight: bold;
  -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust : none;  /* IE */
  -moz-text-size-adjust : none;  /* 파이어폭스 */
  -o-text-size-adjust : none;  /* 오페라 구버전 */
}

.left-items {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

.right-items {
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav-icon {
  font-size: 1vw !important;
  color: white;
}

#header {
  width: 100%;
  height: 230px;
  background-color: #4b282830;
  /*position: relative;*/
}

.fixed {
  position: fixed;
  /*width: 100%;*/
  top: 0;
  z-index: 20;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
