.review_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.items_btn {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#order_success {
    height: 30vh;
}

#star-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#star-rating label{
    display: flex;
    width: auto;
}

#review-row {
    margin-left: 0px;
}

#search-div {
    display: flex;
}

.nonmember-form {
    margin-bottom: 1rem;
}